h1 {
  margin: 0;
  overflow: hidden;
  font-size: 1.5rem;
  background: linear-gradient(90deg, #001810 0%, #174938 10%, #4db592 40%, rgba(#4db592, 0.3) 70%, rgba(#4db592, 0) 100%);
  border-radius: 1.2rem 0 0 1.2rem;
  color: #fafafa;
  &:before {
    content: '●';
    color: #fafafa;
    margin-right: 0.6rem;
    margin-left: 0.6rem;
  }
  fixed-label {
    position: fixed;
    width: 100%;
  }
}

h2 {
  position: relative;
  font-size: 1.3rem;
  padding-left: 1.2rem;
  &:before {
    position: absolute;
    content: '';
    background: linear-gradient(180deg, #001810 0%, #174938 10%, #4db592 50%, #aee6d4 100%);
    width: 0.8rem;
    height: 100%;
    left: 0;
  }
  &:after {
    position: absolute;
    content: '';
    background: linear-gradient(90deg, #aee6d4 0%, rgba(174, 230, 212, 0) 100%);
    width: 100%;
    height: 0.2rem;
    left: 0;
    bottom: -0.2rem;
  }
}

h3 {
  margin: 0;
  padding: 0.3rem 0.5rem;
  background: linear-gradient(90deg, #cccccc 0%, rgba(250, 250, 250, 50) 90%, rgba(250, 250, 250, 0) 100%);
}

button {
  cursor: pointer;
  border: none;
  &:focus {
    outline: none;
  }
}

.message {
  padding: 0.5rem;
  text-align: center;
  background-color: #dddddd;
  font-size: 1.2rem;
  border-radius: 0.5rem;
}

.mt-10 {
  margin-top: 1rem;
}

.icon-setting {
  position: relative;
  height: 2rem;
  width: 2rem;
  background-image: url("./Image/icooon/setting.svg");
  &::after {
    background: #8abeb1;
    content: '';
    position: absolute;
    z-index: -1;
    left: -0.2rem;
    top: -0.2rem;
    height: calc(100% + 0.4rem);
    width: calc(100% + 0.4rem);
    transform: scale(0, 0);
    border-radius: 0.5rem;
    transition: transform 0.2s;
  }
  &:hover {
    background-image: url("./Image/icooon/setting_active.svg");
    &::after {
      transform: scale(1, 1);
    }
  }
}

.icon-home {
  position: relative;
  height: 2rem;
  width: 2rem;
  background-image: url("./Image/icooon/home.svg");
  &::after {
    background: #8abeb1;
    content: '';
    position: absolute;
    z-index: -1;
    left: -0.2rem;
    top: -0.2rem;
    height: calc(100% + 0.4rem);
    width: calc(100% + 0.4rem);
    transform: scale(0, 0);
    border-radius: 0.5rem;
    transition: transform 0.2s;
  }
  &:hover {
    background-image: url("./Image/icooon/home_active.svg");
    &::after {
      transform: scale(1, 1);
    }
  }
}

.icon-graph {
  position: relative;
  height: 2rem;
  width: 2rem;
  background-image: url("./Image/icooon/graph.svg");
  &::after {
    background: #8abeb1;
    content: '';
    position: absolute;
    z-index: -1;
    left: -0.2rem;
    top: -0.2rem;
    height: calc(100% + 0.4rem);
    width: calc(100% + 0.4rem);
    transform: scale(0, 0);
    border-radius: 0.5rem;
    transition: transform 0.2s;
  }
  &:hover {
    background-image: url("./Image/icooon/graph_active.svg");
    &::after {
      transform: scale(1, 1);
    }
  }
}

.icon-exit {
  position: relative;
  height: 2rem;
  width: 2rem;
  background-image: url("./Image/icooon/exit.svg");
  &::after {
    background: #8abeb1;
    content: '';
    position: absolute;
    z-index: -1;
    left: -0.2rem;
    top: -0.2rem;
    height: calc(100% + 0.4rem);
    width: calc(100% + 0.4rem);
    transform: scale(0, 0);
    border-radius: 0.5rem;
    transition: transform 0.2s;
  }
  &:hover {
    background-image: url("./Image/icooon/exit_active.svg");
    &::after {
      transform: scale(1, 1);
    }
  }
}

.icon-user {
  position: relative;
  height: 2rem;
  width: 2rem;
  background-image: url("./Image/icooon/user.svg");
  &::after {
    background: #8abeb1;
    content: '';
    position: absolute;
    z-index: -1;
    left: -0.2rem;
    top: -0.2rem;
    height: calc(100% + 0.4rem);
    width: calc(100% + 0.4rem);
    transform: scale(0, 0);
    border-radius: 0.5rem;
    transition: transform 0.2s;
  }
  &:hover {
    background-image: url("./Image/icooon/user_active.svg");
    &::after {
      transform: scale(1, 1);
    }
  }
}

.header-menu {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  .icon-space {
    display: flex;
    a, .link {
      margin: 0 0.5rem;
      cursor: pointer;
    }
  }
}

#login-page {
  min-height: 100vh;
  padding: 0;
  padding-top: 5rem;
  box-sizing: border-box;
  background-color: #dedede;
  .login-form-item {
    margin: 0 auto;
    width: 20rem;
    background-color: #d5fff0;
    text-align: center;

    header {
      text-align: center;
      padding: 1rem 0;
      background-color: #868f8b;
      color: #fafffa;
      .logo {
        height: 4rem;
      }
      .title {
        font-size: 2.5rem;
        font-weight: bold;
      }
    }

    form {
      padding: 2rem;
      display: flex;
      flex-direction: column;

      .label {
        display: block;
        height: 0;
        width: 2rem;
        color: #fafafa;
        padding: 0 0.5rem;
        font-weight: bold;
        border-bottom: 1.2rem solid #38be94;
        border-right: 2rem solid transparent;
        border-radius: 0.5rem 0 0 0;
      }

      .form-style {
        width: 12rem;
        margin: 0 auto;
        margin-bottom: 2rem;
        &:focus-within {
          .label{
            border-bottom: 1.2rem solid #24e6a9;
          }
        }
      }

      .input-form {
        width: 12rem;
        height: 1.5rem;
        border-radius: 0 0.5rem 0.5rem 0.5rem;
        border: solid 0.3rem #38be94;
        &:focus {
          border: solid 0.3rem #24e6a9;
        }
        &:focus {
          outline: none;
        }
      }

      .login-button {
        margin: 0 auto;
        font-size: 1.2rem;
        font-weight: bold;
        height: 3rem;
        width: 8rem;
        color: #fafafa;
        font-weight: bold;
        background-color: #38be94;
        border-radius: 0.5rem;
        border: none;
        cursor: pointer;
        &:hover {
          background-color: #24e6a9;
        }
        &:focus {
          outline: none;
          background-color: #24e6a9;
        }
      }

      .register-button {
        margin: 0 auto;
        margin-top: 5rem;
        font-size: 1rem;
        font-weight: bold;
        color: #00a8c6;
        font-weight: bold;
        background-color: inherit;
        border: none;
        border-bottom: solid #00a8c6 0.1rem;
        text-decoration: none;
        cursor: pointer;
        &:hover {
          color: #48d1e9;
          border-bottom: solid #48d1e9 0.2rem;
          background-color: rgba(238, 238, 238, 0.5);
        }
        &:focus {
          outline: none;
          color: #48d1e9;
          border-bottom: solid #48d1e9 0.2rem;
          background-color: rgba(238, 238, 238, 0.5);
        }
      }
    }
  }
}

.message-space {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: rgba(250, 250, 250, 0.8);
  margin: 1rem auto;
  padding: 0.1rem 2rem;
  min-height: 2rem;
  font-size: 1rem;
  border-radius: 0.5rem;
  border-width: 0.2rem;
  border-style: solid;
  animation: fadeIn 0.5s linear 0s 1 normal;
  @keyframes fadeIn {
    0% {opacity: 0}
    100% {opacity: 1}
  }
  img {
    margin-right: 1rem;
    height: 1.5rem;
    width: 1.5rem;
  }
  .msg {
    width: 100%;
    text-align: center;
  }
}
.message-space-error {
  border-color: #b85450;
}
.message-space-warn {
  border-color: #d79b00;
}
.message-space-info {
  border-color: #82b366;
}

.indicator-parent {
  position: relative;
  min-height: 10rem;
  .indicator {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(#fafafa, 0.7);
    z-index: 99999;
    img {
      animation: rotate-anime 1s linear infinite;
      height: 3rem;
      width: 3rem;
    }
    @keyframes rotate-anime {
      0%  {transform: rotate(0);}
      100%  {transform: rotate(360deg);}
    }
  }
}

#register-page {
  overflow: hidden;
  height: calc(100vh - 6rem);
  width: 100vw;
  padding-bottom: 6rem;
  background-size: cover;

  .main {
    margin: 0.5rem;
    padding: 2rem;
    padding-top: 0.5rem;
    text-align: left;
    .to-login-button {
      display: inline-block;
      margin: 0 auto;
      margin-bottom: 1rem;
      padding: 0rem 0.5rem;
      font-size: 1rem;
      font-weight: bold;
      line-height: 1;
      text-decoration: none;
      color: #2a8798;
      border-bottom: solid #2a8798 0.1rem;
      cursor: pointer;
      &:hover {
        background-color: #d9f9ff;
        color: #27b4cd;
        border-bottom: solid #27b4cd 0.1rem;
      }
      &:focus {
        background-color: #d9f9ff;
        outline: none;
        color: #27b4cd;
        border-bottom: solid #27b4cd 0.1rem;
      }
    }
  }
}


#account-form {
  background-color: rgba(238, 255, 250, 0.8);
  padding: 1rem;
  text-align: center;
  .main {
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    .form-style {
      width: 50%;
      min-width: 15rem;
    }
    .label {
      margin-top: 0.5rem;
      display: inline-block;
      height: 0;
      color: #3d3d3d;
      padding: 0 0.5rem;
      font-weight: bold;
    }
    .label-error {
      color: #94003a;
    };

    .tag-required {
      margin-bottom: 0.2rem;
      padding: 0 0.4rem;
      display: inline-block;
      background-color: #c21750;
      font-size: 0.8rem;
      border-radius: 0.5rem;
      color: #fafafa;
      font-weight: bold;
      vertical-align: middle;
    }

    .error-icon {
      height: 1rem;
      margin-bottom: 0.2rem;
      padding: 0 0.4rem;
    }

    .input-form {
      margin-left: 1rem;
      height:1.5rem;
      width: calc(100% - 5rem);
      display: block;
      border-radius: 0.5rem;
      border: solid 0.2rem #6b6b6b;
      &:focus {
        border: solid 0.2rem #909090;
        outline: none;
      }
    }
    .input-form-error {
      background-color: #ffdede;
      border-color: #be4242;
    }

    .err-msg {
      vertical-align: text-top;
      margin-left: 1.5rem;
      font-size: 0.6rem;
      color: #94003a;
    }

    .btn-space {
      margin-top: 1rem;
      margin-left: 1rem;
    }

    .img-select {
      span {
        margin-left: 1rem;
        display: inline-block;
        padding: 0.3rem 0.5rem;
        font-size: 0.8rem;
        color: #fafafa;
        background-color: #27c0e2;
        border-radius: 0.3rem;
        height: 1rem;
        cursor: pointer;
        &:hover {
          background-color: #48d5e9;
        }
      }
    }
    .img-input {
      display: none;
      &:focus {
        outline: none;
      }
    }
    .clear-btn {
      margin-left: 1rem;
      display: inline-block;
      padding: 0.3rem 0.5rem;
      font-size: 0.8rem;
      background-color: #f2286b;
      color: #fafafa;
      border: none;
      border-radius: 0.3rem;
      height: 1rem;
      cursor: pointer;
      &:hover {
        background-color: #fc538b;
      }
    }

    .icon-prev {
      display: block;
      margin-top: 0.5rem;
      margin-left: 1rem;
      width: 8rem;
      height: 8rem;
      border-radius: 4rem;
    }
  }
  .submit-btn {
    background-color: #38be94;
    color: #fafafa;
    font-weight: bold;
    font-size: 1.6rem;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    border: none;
    cursor: pointer;
    &:hover {
      background-color: #24e6a9;
    }
    &:focus {
      background-color: #24e6a9;
      outline: none;
    }
    &:disabled {
      background-color: rgba(56, 190, 148, 0.6);
      color: rgba(250, 250, 250, 0.6);
      cursor: not-allowed;
    }
  }
}

#register-done-page {
  overflow: hidden;
  height: calc(100vh - 6rem);
  width: 100vw;
  padding-bottom: 6rem;
  background-size: cover;

  .main-space {
    background-color: rgba(238, 255, 250, 0.8);
    margin: 0.5rem;
    padding: 2rem;
    text-align: left;

    .to-login-button {
      margin: 0 auto;
      margin-top: 1rem;
      padding: 0.3rem 0.5rem;
      font-size: 1rem;
      font-weight: bold;
      height: 2rem;
      color: #fafafa;
      font-weight: bold;
      background-color: #00a8c6;
      border-radius: 0.5rem;
      border: none;
      cursor: pointer;
      &:hover {
        background-color: #42cee7;
      }
      &:focus {
        outline: none;
        background-color: #42cee7;
      }
    }
    .text-line {
      display: block;
    }
    .id-space {
      margin-top: 0.5rem;
    }
  }
}

.task-input-form {
  .label {
    margin-top: 0.5rem;
    display: inline-block;
    height: 0;
    color: #3d3d3d;
    padding: 0 0.5rem;
    font-weight: bold;
  }
  .tag-required {
    margin-bottom: 0.2rem;
    padding: 0 0.4rem;
    display: inline-block;
    background-color: #c21750;
    font-size: 0.6rem;
    border-radius: 0.5rem;
    color: #fafafa;
    vertical-align: middle;
  }
  .input-form {
    margin-left: 1rem;
    height:1.5rem;
    width: calc(100% - 5rem);
    display: block;
    border-radius: 0.5rem;
    border: solid 0.2rem #6b6b6b;
    &:focus {
      border: solid 0.2rem #909090;
      outline: none;
    }
  }
  .time-input {
    display: flex;
    .task-input-form-time {
      background: none;
      border: none;
      input {
        font-size: 1rem;
        padding: 0.1rem;
        margin: 0 0.2rem;
        border-radius: 0.5rem;
        border: solid 0.2rem #6b6b6b;
        &:focus {
          border: solid 0.2rem #909090;
          outline: none;
        }
        &:first-child {
          margin-left: 0;
        }
      }
    }
    .start::after {
      content: "～"
    }
  }
  .btn-space {
    margin-top: 1rem;
    .submit {
      color: #fafafa;
      background-color: #38be94;
      font-size: 1.2rem;
      padding: 0.5rem 1rem;
      border-radius: 0.5rem;
      &:hover, &:focus {
        background-color: #24e6a9;
      }
    }
  }
}

.running-task-form {
  padding: 0.5rem 1rem;
  .task-info {
    display: flex;
    .subject-info {
      width: 80%;
      z-index: 1;
      background: linear-gradient(176deg, #eeeeee 0%, #fafffa 49%, #1e795a 50%, #fafffa 51%, #eeeeee 100%);
      div {
        width: calc(70% - 2rem);
        overflow: hidden;
        height: 2.5rem;
        font-size: 1.6rem;
        padding: 0 1rem;
        vertical-align: middle;
        text-overflow: ellipsis;
        white-space:nowrap;
      }
      .subject {
        font-size: 1.8rem;
        position: relative;
        white-space: nowrap;
        padding: 0 1rem;
        padding-top: 0.5rem;
        padding-right: 30%;
      }
      .name {
        text-align: right;
        padding: 0 1rem;
        padding-bottom: 0.5rem;
        padding-left: 30%;
      }
    }
    .start-time {
      width: calc(20% - 2rem);
      padding: 0 1rem;
      height: 6rem;
      line-height: 6rem;
      font-size: 1.6rem;
      background-color: #f8f8f8;
      vertical-align: middle;
      text-align: center;
    }
  }
  .btn-space {
    margin-top: 2rem;
    align-items: flex-end;
    .cancel {
      position: relative;
      color: #be3858;
      background: none;
      font-size: 0.8rem;
      padding: 0.5rem 1rem;
      border-bottom: solid 0.2rem #be3858;
      &:hover, &:focus {
        color: #fafafa;
      }
      &::after {
        background: #c8627a;
        content: '';
        position: absolute;
        z-index: -1;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        transform: scale(1, 0);
        transition: transform 0.2s;
        transform-origin: bottom;
      }
      &:hover::after {
        transform: scale(1, 1);
      }
    }
    .edit {
      position: relative;
      color: #be9038;
      background: none;
      font-size: 1.2rem;
      padding: 0.5rem 1rem;
      border-bottom: solid 0.2rem #be9038;
      &:hover, &:focus {
        color: #fafafa;
      }
      &::after {
        background: #f0c980;
        content: '';
        position: absolute;
        z-index: -1;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        transform: scale(0, 1);
        transition: transform 0.2s;
        transform-origin: left;
      }
      &:hover::after {
        transform: scale(1, 1);
      }
    }
    .end {
      position: relative;
      color: #38be94;
      background: none;
      font-size: 1.2rem;
      padding: 0.5rem 1rem;
      border-radius: 0.5rem;
      border: solid 0.2rem #38be94;
      &:hover, &:focus {
        color: #fafafa;
      }
      &::after {
        background: #73d7b8;
        content: '';
        position: absolute;
        z-index: -1;
        left: -0.2rem;
        top: -0.2rem;
        height: calc(100% + 0.4rem);
        width: calc(100% + 0.4rem);
        transform: scale(0, 0);
        border-radius: 0.5rem;
        transition: transform 0.2s;
      }
      &:hover::after {
        transform: scale(1, 1);
      }
    }
  }
}

.btn-space {
  display: flex;
  justify-content: space-around;
}

.record-space {
  margin: 0 1rem;
  @media screen and (min-width: 1200px) {
    margin: 0;
    display: flex;
    & > div {
      width: 50%;
      margin: 0 1rem;
    }
  }
}

#main-page, #calc-page, #subject-setting-page, #password-setting-page {
  h1 {
    .logo {
      vertical-align: middle;
      height: 2rem;
      margin-right: 0.5rem
    }
  }
}

.error-page {
  .message-area {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    color: #114411;
    .message {
      display: inline-block;
      margin: 0 auto;
      padding: 1.5rem 10rem;
      background-color: #e0f0e7;
      border-radius: 1rem;
      span {
        display: block;
      }
    }
  }
  .btn-space {
    margin: 0 5rem;
    margin-top: 3rem;
    display: flex;
    justify-content: space-around;
    a {
      text-decoration: none;
    }
    .btn {
      color: #fafafa;
      background-color: #888888;
      border: #fafafa solid 0.1rem;
      border-radius: 0.5rem;
      padding: 0.3rem 1rem;
      &:hover, &:focus {
        background-color: #aaaaaa;
      }
    }
  }
}

.dialog {
  position: fixed;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  vertical-align: middle;
  min-height: calc(100vh - 4rem);
  min-width: calc(100vw - 4rem);
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: rgba(250, 250, 250, 0.8);
  padding: 2rem;
  font-size: 1.8rem;
  .dialog-main {
    border: solid 0.3rem #555555;
    border-radius: 0.3rem;
    text-align: left;
    font-size: 1rem;
    background-color: #fafafa;
    width: 80%;
    margin: 0 10%;;
    .dialog-content {
      padding: 0 5rem;
    }
  }
  .btn-space {
    .cancel {
      position: relative;
      color: #be3858;
      background: none;
      font-size: 1.2rem;
      padding: 0.5rem 1rem;
      border-bottom: solid 0.2rem #be3858;
      z-index: 1;
      &:hover, &:focus {
        color: #fafafa;
        &::after {
          transform: scale(1, 1);
        }
      }
      &::after {
        background: #c8627a;
        content: '';
        position: absolute;
        z-index: -1;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        transform: scale(1, 0);
        transition: transform 0.2s;
        transform-origin: bottom;
      }
    }
    .decision {
      position: relative;
      color: #fafafa;
      background: none;
      font-size: 1.2rem;
      padding: 0.5rem 1rem;
      border-radius: 0.5rem;
      border: solid 0.2rem #38be94;
      z-index: 1;
      &::before {
        background: #38be94;
        content: '';
        position: absolute;
        z-index: -2;
        left: -0.2rem;
        top: -0.2rem;
        height: calc(100% + 0.4rem);
        width: calc(100% + 0.4rem);
        border-radius: 0.5rem;
      }
      &::after {
        background: #73d7b8;
        content: '';
        position: absolute;
        z-index: -1;
        left: -0.2rem;
        top: -0.2rem;
        height: calc(100% + 0.4rem);
        width: calc(100% + 0.4rem);
        transform: scale(0, 0);
        border-radius: 0.5rem;
        transition: transform 0.2s;
      }
      &:hover::after {
        transform: scale(1, 1);
      }
      &:disabled {
        background: #e5fbf4;
        color: #b0b0b0;
        cursor: not-allowed;
        border: solid 0.2rem #e5fbf4;
        &::before {
          transform: scale(0, 0);
        }
        &::after {
          transform: scale(0, 0);
        }
      }
    }
  }
}

.task-records {
  padding: 0 0.5rem;
  ul {
    list-style: none;
    padding-left: 0;
    .hover {
      cursor: pointer;
      &:hover {
        opacity: 0.7;
      }
    }
    li {
      line-height: 1.5rem;
      span {
        box-sizing: border-box;
        display: inline-block;
      }
      .time {
        width: 8rem;
        border-right: solid 0.1rem #38be94;
        padding: 0.5rem 1rem;
      }
      .subject {
        width: calc(40% - 5rem);
        padding: 0.5rem 0;
        padding-left: 2rem;
        font-weight: bold;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        vertical-align: top;
      }
      .name {
        width: calc(60% - 5rem);;
        padding: 0.5rem 0;
        padding-left:1rem;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        vertical-align: top;
      }
      &:nth-child(even) {
        background-color: #f6f6f6;
      }
      &:nth-child(odd) {
        background-color: #ecfff9;
      }
    }
  }
}

.task-summary {
  padding: 0 0.5rem;
  ul {
    list-style: none;
    padding-left: 0;
    li {
      padding-bottom: 0.5rem;
      ul {
        margin-left: 1rem;
        padding-left: 0;
        li {
          padding-bottom: 0;
          line-height: 1.5rem;
          .task-name {
            width: calc(100% - 6rem);
            padding: 0.5rem 0;
            padding-left: 1rem;
            font-weight: bold;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            vertical-align: top;
          }
          &:nth-child(odd) {
            background-color: #dfffff;
          }
          &:nth-child(even) {
            background-color: #f5f5f5;
          }
        }
      }
      span {
        box-sizing: border-box;
        display: inline-block;
      }
      .subject {
        width: calc(100% - 6rem);
        padding: 0.5rem 0;
        padding-left: 1rem;
        font-weight: bold;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        vertical-align: top;
      }
      .time {
        width: 6rem;
        padding: 0.5rem 0;
        padding-right: 2rem;
        text-align: right;
        background-color: rgba(255, 255, 255, 0.4);
      }
      &:nth-child(odd) {
        background-color: #c7ffff;
      }
      &:nth-child(even) {
        background-color: #efefef;
      }
    }
  }
  .copy-btn {
    position: relative;
    color: #fafafa;
    background: none;
    font-size: 0.8rem;
    padding: 0.2rem 0.5rem;
    border-radius: 0.5rem;
    z-index: 1;
    &::before {
      background: #3882be;
      content: '';
      position: absolute;
      z-index: -2;
      left: -0.2rem;
      top: -0.2rem;
      height: calc(100% + 0.4rem);
      width: calc(100% + 0.4rem);
      border-radius: 0.5rem;
    }
    &::after {
      background: #89ace0;
      content: '';
      position: absolute;
      z-index: -1;
      left: -0.2rem;
      top: -0.2rem;
      height: calc(100% + 0.4rem);
      width: calc(100% + 0.4rem);
      transform: scale(0, 1);
      border-radius: 0.5rem;
      transition: transform 0.2s;
    }
    &:hover::after {
      transform: scale(1, 1);
    }
    &:disabled {
      background: #e5fbf4;
      color: #b0b0b0;
      cursor: not-allowed;
      border: solid 0.2rem #e5fbf4;
      &::before {
        transform: scale(0, 0);
      }
      &::after {
        transform: scale(0, 0);
      }
    }
  }
}

#calc-page {
  .image-space {
    img {
      width: 100%;
    }
  }
}

#subject-setting-page {
  .list-space {
    width: 50%;
    .subject-list {
      margin: 0 1rem;
      padding: 0.5rem;
      list-style: none;
      li {
        margin: 0.2rem 0;
        padding-left: 0.5rem;
        color: #222222;
        background-color: #c4c4c4;
        border-left: solid 1rem #fafafa;
        font-size: 1.2rem;
        height: 2rem;
        cursor: move;
        display: flex;
        .swith-btn {
          display: inline-block;
          width: 5rem;
          height: 100%;
          padding: 0 0.5rem;
          position: relative;
          color: #fafafa;
          background: none;
          font-size: 0.8rem;
          border-radius: 0.5rem;
          z-index: 1;
          &::before {
            background: linear-gradient(90deg, #c4c4c4 0%, #a1707b 10%, #a1707b 40%, #a1707b 90%, #c4c4c4 100%);
            content: '';
            position: absolute;
            z-index: -2;
            left: 0;
            top: 0;
            height: 100%;
            width: 100%;
          }
          &::after {
            background: #ebc4cc;
            content: '';
            position: absolute;
            z-index: -1;
            left: 0;
            top: 0;
            height: 100%;
            width: 100%;
            transform: scale(0, 1);
            transition: transform 0.2s;
          }
          &:hover{
            color: #222222;
            &::after {
              transform: scale(1, 1);
            }
          }
        }
        .subject-name {
          display: inline-block;
          width: calc(100% - 11.9rem);
          padding-left: 1rem;
          user-select: none;
          -webkit-user-select: none;
        }
        .color {
          width: 2.5rem;
          padding-right: 0.5rem;
          margin: 0 0 0 auto;
          border: none;
          background: none;
          cursor: pointer;
        }
        .delete-btn {
          display: inline-block;
          width: 2.5rem;
          height: 100%;
          padding: 0 0.5rem;
          position: relative;
          color: #fafafa;
          background: none;
          font-size: 1.2rem;
          border-radius: 0.5rem;
          z-index: 1;
          &::before {
            background: #b9193c;
            content: '';
            position: absolute;
            z-index: -2;
            left: 0;
            top: 0;
            height: 100%;
            width: 100%;
          }
          &::after {
            background: #ffaebf;
            content: '';
            position: absolute;
            z-index: -1;
            left: 0;
            top: 0;
            height: 100%;
            width: 100%;
            transform: scale(0, 0);
            transition: transform 0.2s;
          }
          &:hover{
            color: #222222;
            &::after {
              transform: scale(1, 1);
            }
          }
        }
        &:hover  {
          background-color: #dadada;
        }
      }
    }
    .active {
      background-color: #c5ffec;
    }
    .deactive {
      background-color: #ececec;
    }
  }
  .subject-add-form {
    background-color: #e1fff5;
    margin: 0 1rem;
    padding: 0.5rem;
    height: 1.5rem;
    .subjct-name {
      height: calc(100% - 0.4rem);
      width: calc(100% - 10rem);
      padding: 0.2rem 0.5rem;
      vertical-align: top;
      font-size: 1.2rem;
    }
    .subjct-color {
      width: 2.5rem;
      height: 100%;
      margin: 0;
      margin-left: 1rem;
      padding: 0;
      border: none;
      background-color: #fafafa;
      vertical-align: top;
      cursor: pointer;
    }
    button {
      display: inline-block;
      position: relative;
      padding: 0 1rem;
      width: 4rem;
      height: 100%;
      color: #fafafa;
      border-radius: 0.3rem;
      margin-left: 1rem;
      vertical-align: top;
      background: none;
      z-index: 1;
      &::before {
        background: #3b7fe4;
        content: '';
        position: absolute;
        z-index: -2;
        border-radius: 0.3rem;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
      }
      &::after {
        background: #7cb0ff;
        content: '';
        position: absolute;
        z-index: -1;
        border-radius: 0.3rem;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        transform: scale(0, 1);
        transition: transform 0.2s;
        transform-origin: left;
      }
      &:hover{
        color: #222222;
        &::after {
          transform: scale(1, 1);
        }
      }
    }
  }
}

.setting-dialog {
  .link-btn {
    position: relative;
    margin: 0 auto;
    width: 30%;
    height: 4rem;
    line-height: 4rem;
    vertical-align: middle;
    background-color: #38be94;
    color: #fafafa;
    text-decoration: none;
    z-index: 1;
    &::before {
      background: #38be94;
      content: '';
      position: absolute;
      z-index: -2;
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
    }
    &::after {
      background: #73d7b8;
      content: '';
      position: absolute;
      z-index: -1;
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
      transform: scale(0, 1);
      transition: transform 0.2s;
      transform-origin: left;
    }
    &:hover::after {
      transform: scale(1, 1);
    }
  }
}

#password-setting-page {
  form {
    .label {
      margin-top: 0.5rem;
      display: inline-block;
      height: 0;
      color: #3d3d3d;
      padding: 0 0.5rem;
      font-weight: bold;
    }
    .label-error {
      color: #94003a;
    };
    .tag-required {
      margin-bottom: 0.2rem;
      padding: 0 0.4rem;
      display: inline-block;
      background-color: #c21750;
      font-size: 0.6rem;
      border-radius: 0.5rem;
      color: #fafafa;
      vertical-align: middle;
    }
    .input-form {
      margin-left: 1rem;
      height:1.5rem;
      width: calc(100% - 5rem);
      display: block;
      border-radius: 0.5rem;
      border: solid 0.2rem #6b6b6b;
      &:focus {
        border: solid 0.2rem #909090;
        outline: none;
      }
    }
    .input-form-error {
      background-color: #ffdede;
      border-color: #be4242;
    }
  
    .err-msg {
      vertical-align: text-top;
      margin-left: 1.5rem;
      font-size: 0.6rem;
      color: #94003a;
    }
    .btn-space {
      margin-top: 2rem;
      align-items: flex-end;
      .submit {
        position: relative;
        color: #fafafa;
        background: none;
        font-size: 1.2rem;
        padding: 0.5rem 1rem;
        border-radius: 0.5rem;
        border: solid 0.2rem #38be94;
        &::before {
          background: #38be94;
          content: '';
          position: absolute;
          z-index: -2;
          left: 0;
          top: 0;
          left: -0.2rem;
          top: -0.2rem;
          height: calc(100% + 0.4rem);
          width: calc(100% + 0.4rem);
          border-radius: 0.5rem;
        }
        &::after {
          background: #73d7b8;
          content: '';
          position: absolute;
          z-index: -1;
          left: -0.2rem;
          top: -0.2rem;
          height: calc(100% + 0.4rem);
          width: calc(100% + 0.4rem);
          transform: scale(0, 0);
          border-radius: 0.5rem;
          transition: transform 0.2s;
        }
        &:hover::after {
          transform: scale(1, 1);
        }
        &:disabled::before {
          background: initial;
        }
        &:disabled::after {
          transform: scale(0, 0);
        }
        &:disabled {
          background-color: rgba(56, 190, 148, 0.6);
          border: none;
          color: rgba(250, 250, 250, 0.6);
          cursor: not-allowed;
        }
      }
    }
  }
}

.calc-date-input {
  margin: 1rem;
  input {
    margin-right: 0.5rem;
  }
  button {
    position: relative;
    color: #fafafa;
    background: none;
    font-size: 1rem;
    padding: 0rem 0.5rem;
    border-radius: 0.5rem;
    &:hover, &:focus {
      color: #fafafa;
    }
    &::before {
      background: #38be94;
      content: '';
      position: absolute;
      z-index: -2;
      left: 0;
      top: 0;
      left: -0.2rem;
      top: -0.2rem;
      height: calc(100% + 0.4rem);
      width: calc(100% + 0.4rem);
      border-radius: 0.5rem;
    }
    &::after {
      background: #73d7b8;
      content: '';
      position: absolute;
      z-index: -1;
      left: -0.2rem;
      top: -0.2rem;
      height: calc(100% + 0.4rem);
      width: calc(100% + 0.4rem);
      transform: scale(0, 0);
      transition: transform 0.2s;
      border-radius: 0.5rem;
    }
    &:hover::after {
      transform: scale(1, 1);
    }
  }
}